*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: font;
    src: url("../fonts/sharp_tucny.ttf");
}
body {
    background-image: URL('../img/pozadi.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: font;
    color: lightsteelblue;
} 
.wrapper { 
    margin: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: rgb(26, 46, 54);
    border-radius: 25px;
}
.head, .nav {
    display: inline-block;
    height: 7%;
    position: relative;
}
.head{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    width: 45%;
}
.content {
    top: 25%;
    height: 76%;
    width: 90%;
}
.footer {
    height: 9%;
    width: 90%;
}
@media only screen and (max-width: 666px){
    .hidden{
        display: none;
    }
}
@media only screen and (max-width: 970px){
    .nav{
        display: inline-grid;
    }
}
.hidden{
    font-size: 25px;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: 0.5s ease-in;
}
.nav{
    text-align: end;
    position: initial;
    width: 53%;
}
a{
    color: lightsteelblue;
    text-decoration: none;
}
.head:hover .hidden{
    opacity: 1;
    max-width: 1em;
}