*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: font;
    src: url(/Fonts/sharp.ttf);
}
@font-face{
    font-family: fonttitle;
    src: url(/Fonts/sharp_tucny.ttf);
}
@font-face{
    font-family: fonttext;
    src: url(/Fonts/galette.otf)
}
@media only screen and (max-width: 730px){
    .wrapper { 
        margin: 0 !important;
        width: 100% !important;
    }
    .nav {
        display: none !important;
    }
    .hamburger{
        display: block !important;
    }
    .nav.active{
        display: flex !important;
        flex-direction: column;
        position: fixed;
        width: 100%;
        background: rgb(26, 46, 54);
        top: 0;
        text-align: center;
        line-height: 12vh;
        margin: 80px 0 !important;
        height: calc(100% - 160px);
        font-size: 15px;
    }
    .sum.active{
        display: none;
    }
    .nav.active a, .hidden-menu.active a{
        flex: 1 1 auto;
    }
    .header{
        width: 100% !important;
    }
    .head span{
        font-size: 40px !important;
    }
    .head span.hidden{
        font-size: 30px !important;
    }
    .footer{
        font-size: 10px !important;
    }
    .figure-title,
    .tech-title,
    .contact-title,
    .ref-title,
    .ref-nazev1{
        font-size: 20px !important;
    }
    .figure-content, 
    .content ul, 
    .contact-wrapper,
    .tech,
    .ref-nazev2{
        font-size: 15px !important;
    }
    .event{
        font-size: 14px !important;
    }
    .ref{
        font-size: 14px !important;
        width: 120px !important;
        height: 120px !important;
    }
    .shadow{
        height: 550px !important;
    }
    .middle1 {
        width: 60px !important;
    }
    .middle2 {
        width: 162px !important;
    }
    .choice{
        margin: 20px !important;
    }
    .choice a{
        padding: 7px 10px !important;
        font-size: 15px !important; 
    }
    .ref img, .contact img{
        width: 60%;
        height: auto;
    }
    .head1{
        height: 40px !important;
    }
    .head2{
        font-size: 13px !important;
    }
    .head{
        width: 240px !important;
    }
    .tech{
        width: 300px !important;
    }
    .contact-title {
        margin: 10% 10% 5% 10% !important;
    }
    .contact-wrapper {
        margin: 0 10% !important;
    }
    .nav1{
        display: none !important;
    }
    .hidden-menu.active {
        display: flex !important;
        flex-direction: column;
        position: fixed;
        width: 100%;
        background: rgb(26, 46, 54);
        top: 0;
        text-align: center;
        line-height: 9vh;
        margin: 80px 0;
        height: calc(100% - 160px);
        font-size: 15px;
        font-weight: 100;
        font-family: font;
    }
    .contact{
        width: auto !important;
    }
    .ref-menu{
        display: none !important;
    }
}
@media only screen and (max-width: 1090px){
    .head{
        margin: 5px;
    }
    .nav, .nav1{
        margin: 10px !important;
    }
    .tech-wrapper{
        display: block !important;
    }
    .tech{
        max-width: 425px;
        min-height: 110px;   
        margin: 0px auto !important;
        width: auto !important;
    }
    .figure, .content{
        min-width: 90%;
        margin: 0 5% !important;
    }
    .ref-menu{
        top: 110px !important;
    }
    .footer{
        display: flex;
        position: relative !important;
    }
}

html, body{
    height: 100%;
}
body {
    background-image: URL('/Pict/pozadi.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    color: lightsteelblue;
    font-family: fonttext;
    text-transform: uppercase;
} 
.wrapper { 
    margin: 0 5%;
    width: 90%;
    min-height: 100%;
    position: absolute;
    background-color: rgb(26, 46, 54);
}
.header {
    display: flex;
    flex-wrap: wrap; 
    position: fixed;
    width: 90%;
    z-index: 1111;
    background-color: rgb(26, 46, 54);
    justify-content: space-between;
}
.head{
    float: left;
    position: sticky;
    font-size: 0;
    font-weight: 900;
    margin: 0 0 15px 15px;
}
.head span{
    font-size: 50px; 
}
.head1{
    font-family: fonttitle;
    height: 50px;
}
.head2{
    font-size: 15px;
    font-weight: 100;
    font-family: font;
}
.hamburger{
    cursor: pointer;
    display:none;
    width:40px;
    height:40px;
    border-radius:5px;
    border: 2px solid lightsteelblue;
    position: sticky;
    left: 89%;
    margin: 10px;
    float: right;
}
.line{
    display:block;
    width:30px;
    background-color: lightsteelblue;
    border: 1px solid lightsteelblue;
    border-radius: 2px;
    height:1px;
    position:relative;
    left:50%;
    transform:translate(-50%,-50%);
    transition: 0.25s;
}
.top{
    top:7px;
}
.middle{
    top:17px;
}
.bottom{
    top:27px;
}
.hamburger.active .top{
    transform:translate(-50%,11.5px) rotate(45deg);
}
.hamburger.active .middle{
    display:none;
}
.hamburger.active .bottom{
    transform:translate(-50%,-11.5px) rotate(-45deg);
} 
.up{
    position: sticky;
    width:50px;
    height:50px;
    left: 88%;
    top: 88%;
    margin: 10px;
    z-index: 1111;
    background-color: rgba(26, 46, 54, 0.8);
    padding: 3px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s;
}
.up.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.lineup{
    display:block;
    width:25px;
    background-color: lightsteelblue;
    border: 1px solid lightsteelblue;
    border-radius: 2px;
    height:1px;
    position:relative;
    left:50%;
    transition: 0.3s;
}
a:hover .lineup{
    background-color: brown;
    border-color: brown;
}
.left{
    transform:translate(-20%,25px) rotate(50deg);
}
.right{
    transform:translate(-80%,22px) rotate(-50deg);
}
.footer {
    position: absolute;
    font-size: 13px;
    font-family: font;
    background-color: rgb(26, 46, 54);
    margin: 15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}
.content li{
    list-style-position: inside;
    margin-bottom: 15px;
}

.content ul,
.tech,
.figure-title,
.tech-title,
.choice,
.contact-title,
.ref-title{
    text-align: center;
}
.figure-title,
.tech-title,
.contact-title,
.ref-title{
    font-size: 30px;
}
.figure li, 
.content li,
.tech-wrapper, 
.contact-wrapper, 
.figure-content{
    text-transform: none;
}
.head span.hidden{
    display: inline-block;
    transform: translateY(19%);
    font-size: 40px;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: 0.5s ease-in;
    color: lightsteelblue;
}
.nav, .nav1{
    display: flex;
    position: sticky;
    margin: 25px 10px;
    font-weight: 100;
    font-family: font;
    font-size: 17px;
    align-items: center;
}
a{
    color: lightsteelblue;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}
.head span, 
.footer, 
a:hover,
a.highlight{
    color: brown;
}
.n{
    margin: 0 8px;
    max-width: 166px;
    text-align: center;
}
.head:hover .hidden{
    opacity: 1;
    max-width: 1em;
}

.back{
    background-repeat: no-repeat; 
    background-size: cover;
}
.main{
    background-image: URL('/Pict/pozadi-uvod.jpg'); 
}
.koop{
    background-image: URL('/Pict/pozadi-tech.jpg'); 
}
.corp{
    background-image: url(/Pict/pozadi-firmy.jpg);
}
.home{
    background-image: url(/Pict/pozadi-rd.jpg);
}
.cont{
    background-image: URL('/Pict/pozadi-kontakt.jpg'); 
}
.shadow{
    height: 750px;
    width: 100%;
}
.intro, 
.firm, 
.house,
.call,
.back-ref{
    display: flex;
    align-items: center;
}
.reference{
    padding: 60px 30px;
    min-height: 350px;
}
.ref-title{
    margin: 3%;
}
.back-ref{
    justify-content: center;
    flex-wrap: wrap;
}
.ref{
    width: 140px;
    text-align: center;
    height: 170px;
}
.ref li{
    margin: 10px;
}
.ref:hover img{
    transform:scale(0.8);
}
.ref:hover a{
    color: lightsteelblue;
}
.n3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.n3:hover .ref-menu, .n3:hover .ref-menu1{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} 
.ref-menu, .ref-menu1{
    padding: 25px 5px 5px 5px;
    background-color: rgb(26, 46, 54);
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 270px;
    font-size: 15px;
    font-weight: 100;
    font-family: font;
    justify-content: center;
    align-items: center;
    top: 55px;
    z-index: 11111;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.6s;
}
.ref-menu a, .ref-menu1 a{
    margin: 4px 0px;
}
.intro{
    background-color: rgba(26, 46, 54, 0.85);
}
.call{
    background-image: linear-gradient(rgba(26, 46, 54, 0.5), rgb(26, 46, 54));
    justify-content: center;
}
.technic{
    background-color: rgba(26, 46, 54, 0.8);
    display: inline-table;
}
.firm{
    background-color: rgba(26, 46, 54, 0.5);
}
.house{
    background-color: rgba(26, 46, 54, 0.8);
}
.choice{
    margin: 35px;
    transition: transform 0.4s;
}
.choice a{
    font-size: 22px;
    font-weight: 900;
    color: rgb(26, 46, 54);
    background-color:lightsteelblue ;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: black 4px 4px 10px; 
}
.choice a:hover{
    background-color: brown;
}
.contact{
    display: inline-grid;
    background-color:rgba(26, 46, 54, 0.7); 
    width: 500px;
}
.contact-title{
    margin: 10% 20% 5% 20%;
}
.contact-wrapper{
    display: flex;
    font-size: 18px;
    margin: 0 20%;
}
.middle1 li,
.middle2 li,
.head li,
.tech li,
.ref li{
    list-style-type: none;
}
.middle1{
    width: 120px;
}
.middle2{
    width: 250px;
}
.contact a{
    margin: 7% 20%;
}
.tech-content{
    margin-top: 8%;
}
.tech-title{
    margin: 5%;
}
.tech-wrapper{
    align-items: stretch;
    min-height: 130px;
    display: flex;
    flex-wrap: wrap;
}
.tech{
    flex: 1 1 auto;
    position: relative;
    margin: 0 2%;
    background-color: rgba(26, 46, 54, 0.7);
    width: 25%;
    font-size: 17px;
}
.tech ul{
    margin: 5%;
}
.tech li{
    margin: 3% 0;
}
.tech img:hover, .contact img:hover{
    transform:scale(1.1);
}
.tech img, .contact img, .ref img{
    transition: transform 0.4s ease-out;
}
.figure, .content{
    display: block;
    position: absolute;
    background-color: rgba(26, 46, 54, 0.8);
    margin: 0 16%;
    width: 68%;
}
.figure-title{
    margin: 3% 5%;
}
.figure-content, .content ul{
    font-size: 19px;
    margin: 2% 5%;
}
.figure-content li{
    margin-bottom: 5px;
}
.event{
    margin: 0 3%;
    font-size: 18px;
}
.ref-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 3%;
}
.ref-card{
    display: flex;
    flex-direction: column;
    padding: 1%;
    max-width: 220px;
}
.ref-nazev1 {
    font-size: 25px;
    margin: 2% 0;
    text-align: center;
}
.ref-nazev2{
    font-size: 20px;
    text-align: center;
    text-transform: none;
    margin: 1% 0;
}
.hidden-menu{
    display: none;
}