*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
@font-face{
    font-family: font;
    src: url(/Fonts/sharp.ttf);
}
@font-face{
    font-family: fonttitle;
    src: url(/Fonts/sharp_tucny.ttf);
}
@font-face{
    font-family: fonttext;
    src: url(/Fonts/galette.otf)
}
body {
    background-image: URL('/Pict/pozadi.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    color: lightsteelblue;
    font-family: fonttitle;
} 
.wrapper { 
    margin: 0 5%;
    width: 90%;
    min-height: 100%;
    position: absolute;
    background-color: rgb(26, 46, 54);
}
.head, .nav {
    display: inline-block;
    height: 10%;
    position: relative;
    line-height: 50px;
}
.head{
    text-transform: uppercase;
    font-size: 0;
    font-weight: 900;
    text-align: left;
    width: 25%;
    left: 20px;
}
.head li{
    list-style-type: none;
    height: 35px;
}
.head ul{
    display: grid;
}
.head span{
    font-size: 40px; 
    color: brown;
}
.note{
    font-size: 12px;
    font-family: font;
    font-weight: 100;
}
.content {
    display: flex;
    position: absolute;
    margin: 2% 5%;
    width: 90%;
}
.footer {
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 13px;
    color: brown;
    font-family: fonttitle;
}

@media only screen and (max-width: 970px){
    .nav{
        display: flex;
    }
    .head{
        width: 60%;
    }
    .content{
        position: relative;
    }
}

.head span.hidden{
    display: inline-block;
    transform: translateY(30%);
    font-size: 25px;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: 0.5s ease-in;
    color: lightsteelblue;
}
.nav{
    text-align: end;
    position: initial;
    width: 73%;
}
a{
    color: lightsteelblue;
    text-decoration: none;
}
.nav a{
    padding: 0 5px;
}
.head:hover .hidden{
    opacity: 1;
    max-width: 1em;
}

.nav a:hover{
    color: brown;
}
.back-content{
    background-image: URL('/Pict/pozadi-uvod.jpg'); 
    background-attachment: inherit;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 500px;
    margin: 20px 0;
}
.shadow{
    background-color: rgba(26, 46, 54, 0.8);
    display: block;
    height: 500px;
    width: 100%;
}
.contenttitle{
    text-align: center;
    font-size: 26px;
    height: 10%;
}
.card-wrapper{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}
.card{
    flex: 1 1 auto;
    background-color: rgba(176, 196, 222, 0.6);
    color: rgb(26, 46, 54);
    text-align: left;
    max-width: 600px; 
    min-width: 300px;
}

.cardmenu{
    font-family: fonttitle;
    font-size: 24px;
    margin: 15px 0px;
}
.cardtitle{
    margin: 0 5%;
}
.cardtitle li{
    font-family: fonttext;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 900;
    list-style-position: inside;
}
.choice{
    font-size: 20px;
    margin-bottom: 35px;
}
.choice a{
    color: lightsteelblue;
    background-color: rgb(26, 46, 54);
    padding: 9px;
    border-radius: 5px;
    box-shadow: black 3px 3px 9px; 
}
.choice a:hover{
    color: brown;
}
.back-wrapper{
    position: relative;
    display: contents;
}
.back{
    background-image: URL('/Pict/pozadi-kontakt.jpg'); 
    background-attachment: inherit;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 500px;
    margin: 20px 0;
}
.contact{
    background-color: rgba(26, 46, 54, 0.6);
    display: inline-block;
    height: 500px;
    width: 100%;
    font-family: fonttext;
}
.contact-title{
    text-transform: uppercase; 
    font-size: 27px;
    margin: 5% 7% 2% 7%;
}
.contact-wrapper{
    display: flex;
    margin: 0% 7%;
    font-size: 17px;
}
.middle1 li, .middle2 li{
    list-style-type: none;
    margin: 3%;
}
.middle1{
    width: 115px;
}
.middle2{
    width: 200px;
}
.contact a{
    margin: 0 7%;
}
.back-tech{
    background-image: URL('/Pict/geometric.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 500px;
    margin: 20px 0;
}
.shadow-tech{
    background-color: rgba(26, 46, 54, 0.85);
    display: inline-block;
    height: 500px;
    width: 100%;
    font-family: fonttext;
}

