*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
@font-face{
    font-family: font;
    src: url(/Fonts/sharp.ttf);
}
@font-face{
    font-family: fonttitle;
    src: url(/Fonts/sharp_tucny.ttf);
}
@font-face{
    font-family: fonttext;
    src: url(/Fonts/galette.otf)
}
body {
    background-image: URL('/Pict/pozadi.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    color: lightsteelblue;
    font-family: fonttitle;
} 
.wrapper { 
    margin: 0 5%;
    width: 90%;
    min-height: 100%;
    position: absolute;
    background-color: rgb(26, 46, 54);
    border-radius: 15px;
    
}
.head, .nav {
    display: inline-block;
    height: 10%;
    position: relative;
    line-height: 50px;
}
.head{
    text-transform: uppercase;
    font-size: 0;
    font-weight: 900;
    text-align: left;
    width: 25%;
    left: 20px;
}
.head li{
    list-style-type: none;
    height: 35px;
}
.head ul{
    display: grid;
}
.head span{
    font-size: 40px; 
    color: brown;
}
.note{
    font-size: 12px;
    font-family: font;
    font-weight: 100;
}
.content {
    display: flex;
    margin: 2% 5%;
    top: 25%;
    height: 75%;
    width: 90%;
}
.footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 13px;
    color: brown;
}

@media only screen and (max-width: 970px){
    .nav{
        display: flex;
    }
    .head{
        width: 60%;
    }
    .card{
        max-height: 45%;
    }
}
.head span.hidden{
    display: inline-block;
    transform: translateY(30%);
    font-size: 25px;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: 0.5s ease-in;
    color: lightsteelblue;
}
.nav{
    text-align: end;
    position: initial;
    width: 73%;
}
a{
    color: lightsteelblue;
    text-decoration: none;
}
.nav a{
    padding: 0 5px;
}
.head:hover .hidden{
    opacity: 1;
    max-width: 1em;
}

.nav a:hover{
    color: brown;
}
.contenttitle{
    text-align: center;
    font-size: 26px;
    height: 10%;
}
.card-wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.card{
    flex: 1 1 auto;
    margin: 2%;
    background-color: lightsteelblue;
    color: rgb(26, 46, 54);
    text-align: center;
    border-radius: 5px;
    box-shadow: black 4px 6px 20px;
    max-width: 600px; 
    min-width: 300px;
    height: 115%;
}

.cardmenu{
    font-family: fonttitle;
    font-size: 26px;
    margin: 25px 0px;
}
.cardtitle li{
    font-family: fonttext;
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 900;
    list-style-position: inside;
}
.back-wrapper{
    position: relative;
    display: contents;
}
.back{
    background-image: URL('/Pict/pozadi-kontakt.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 450px;
    margin: 10px;
}
.contact{
    background-color: rgba(26, 46, 54, 0.7);
    display: inline-block;
    margin: 5%;
    height: 205px;
    width: 400px;
    font-family: fonttext;
}
.contact-title{
    text-transform: uppercase; 
    font-size: 27px;
    margin: 2% 5%;
}
.contact-wrapper{
    display: flex;
    margin: 3% 5%;
    font-size: 17px;
}
.middle1 li, .middle2 li{
    list-style-type: none;
    margin: 2%;
}
.middle1{
    width: 30%;
}
.middle2{
    width: 50%;
}
.contact a{
    margin: 0 5%;
}
