*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: font;
    src: url(/Fonts/sharp.ttf);
}
@font-face{
    font-family: fonttitle;
    src: url(/Fonts/sharp_tucny.ttf);
}
@font-face{
    font-family: fonttext;
    src: url(/Fonts/galette.otf)
}
html, body{
    height: 100%;
}
body {
    background-image: URL('/Pict/pozadi.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    color: lightsteelblue;
    font-family: fonttext;
    text-transform: uppercase;
} 
.wrapper { 
    margin: 0 5%;
    width: 90%;
    min-height: 100%;
    position: absolute;
    background-color: rgb(26, 46, 54);
}
.head, .nav {
    display: inline-block;
    height: 10%;
    position: relative;
    line-height: 50px;
    font-family: fonttitle;
}
.head{
    font-size: 0;
    font-weight: 900;
    text-align: left;
    width: 30%;
    left: 20px;
    font-family: fonttitle;
}
.head li{
    height: 35px;
}
.head ul{
    display: grid;
}
.head span{
    font-size: 50px; 
}
.note{
    font-size: 15px;
    font-family: font;
    font-weight: 100;
}
.content {
    display: flex;
    position: absolute;
    margin: 2% 5%;
    width: 90%;
}
.footer {
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 13px;
    color: brown;
    font-family: font;
}

@media only screen and (max-width: 1000px){
    .nav{
        display: flex;
    }
    .head{
        width: 60%;
    }
    .content{
        position: relative;
    }
    .tech-wrapper{
        display: block !important;
    }
    .tech{
        min-width: 425px;
        min-height: 110px;   
        margin: 0px auto !important;
    }
    .figure{
        min-width: 90%;
        margin: 2% 5% !important;
    }
}
.cardtitle li, .tech-wrapper, .contact-wrapper, .figure-content{
    text-transform: none;
}
.head span.hidden{
    display: inline-block;
    transform: translateY(25%);
    font-size: 35px;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: 0.5s ease-in;
    color: lightsteelblue;
}
.nav{
    text-align: end;
    position: sticky;
    left: 55%;
    margin: 0 1%;
    font-family: font;
    font-weight: 100;
}
a{
    color: lightsteelblue;
    text-decoration: none;
}
.head span, .footer, a:hover, .choice a:hover, .active{
    color: brown;
}
.nav a{
    margin: 0 5px;
}
.head:hover .hidden{
    opacity: 1;
    max-width: 1em;
}
.back-content{
    background-image: URL('/Pict/pozadi-uvod.jpg');   
}
.back, .back-content, .back-tech, .back-corp, .back-rd{
    background-attachment: inherit;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 500px;
    margin: 20px 0;
}
.shadow, .contact, .shadow-tech, .shadow-corp, .shadow-rd{
    height: 500px;
    width: 100%;
}
.shadow{
    background-color: rgba(26, 46, 54, 0.8);
    display: block;
}
.contenttitle{
    text-align: center;
    font-size: 26px;
    height: 10%;
}
.card-wrapper{
    width: 500px; 
}
.card-wrapper, .tech-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.card{
    flex: 1 1 auto;
    background-color: rgba(176, 196, 222, 0.6);
    color: rgb(26, 46, 54);
    text-align: left;
    max-width: 600px; 
    min-width: 300px;
}

.cardmenu{
    font-size: 24px;
    margin: 15px 0px;
    font-weight: 900;
}
.cardtitle{
    margin: 0 5%;
}
.cardtitle li{
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 900;
    list-style-position: inside;
}
.choice{
    font-size: 20px;
    margin-bottom: 35px;
}
.choice a{
    color: lightsteelblue;
    background-color: rgb(26, 46, 54);
    padding: 10px;
    border-radius: 4px;
    box-shadow: black 3px 3px 9px; 
}
.back-wrapper{
    position: relative;
    display: contents;
}
.back{
    background-image: URL('/Pict/pozadi-kontakt.jpg'); 
}
.contact{
    background-color: rgba(26, 46, 54, 0.6);
    display: inline-block;
}
.contact-title{
    font-size: 27px;
    margin: 5% 7% 2% 7%;
}
.contact-wrapper{
    display: flex;
    margin: 1% 7%;
    font-size: 17px;
}
.middle1 li,.middle2 li,.head li,.tech li{
    list-style-type: none;
}
.middle1 .middle2{
    margin: 3%;
}
.middle1{
    width: 115px;
}
.middle2{
    width: 200px;
}
.contact a{
    margin: 0 7%;
}
.back-tech{
    background-image: URL('/Pict/pozadi-tech.jpg'); 
}
.shadow-tech{
    background-color: rgba(26, 46, 54, 0.8);
    display: inline-table;
}
.rubric-title{
    margin: 3% 5%;
    font-size: 25px;
    text-align: center;
}
.tech-wrapper{
    align-items: stretch;
    min-height: 130px;
}
.tech{
    flex: 1 1 auto;
    position: relative;
    margin: 0 2%;
    text-align: center;
    background-color: rgba(26, 46, 54, 0.7);
    width: 25%;
    font-size: 17px;
}
.tech ul{
    margin: 5%;
}
.tech li{
    margin: 3% 0;
}
.tech img:hover, .contact img:hover{
    transform:scale(1.1);
}
.tech img, .contact img{
    transition: transform 0.3s ease-out;
}
.back-corp{
    background-image: url(/Pict/pozadi-firmy.jpg);
}
.shadow-corp{
    background-color: rgba(26, 46, 54, 0.6);
    display: block;
}
.back-rd{
    background-image: url(/Pict/pozadi-rd.jpg);
}
.shadow-rd{
    background-color: rgba(26, 46, 54, 0.8);
    display: block;
}
.figure{
    display: block;
    position: absolute;
    background-color: rgba(26, 46, 54, 0.8);
    margin: 2% 16%;
    width: 68%;
    min-height: 50%;
}
.figure-title{
    font-size: 27px;
    text-align: center;
    margin: 2% 5%;
}
.figure-content{
    font-size: 18px;
    margin: 2% 5%;
}
.event{
    margin: 0 3%;
}







