*{
    margin: 0;
    padding: 0;
}
body {
    background-image: URL('pozadi.jpg'); 
    background-attachment: fixed;
    background-color: black; 
    background-repeat: no-repeat; 
    background-size: cover;
} 
.wrapper { 
    margin: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: rgb(170, 203, 216);
}
.head, .nav {
    display: inline-block;
    height: 10%;
    position: relative;
}
.head{
    width: 20%;
}
.nav{
    width: 70%;
}
.content {
    top: 25%;
    height: 75%;
    width: 90%;
}
.footer {
    height: 10%;
    width: 90%;
}
