*{
    margin: 0;
    padding: 0;
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* div{
    border: 1px solid black;
} */
.nav, .content{
    display: inline-block;
    height: 80%;
    position: relative;
}
.nav{
    width: 20%;
}
.content{
    width: 78%;
}
.header, .footer{
    height: 10%;
}