*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: fonttucny;
    src: url(sharp_tucny.ttf);
}
@font-face{
    font-family: font;
    src: url(sharp.ttf)
}
body {
    background-image: URL('pozadi.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: fonttucny;
    color: lightsteelblue;
} 
.wrapper { 
    margin: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: rgb(26, 46, 54);
    border-radius: 25px;
}
.head, .nav {
    display: inline-block;
    height: 7%;
    position: relative;
    line-height: 50px;
}
.head{
    text-transform: uppercase;
    font-size: 0;
    font-weight: 900;
    text-align: left;
    width: 25%;
    left: 16px;

}
.head span{
    font-size: 40px; 
    color: brown;
}
.content {
    display: flex;
    margin: 2% 5%;
    top: 25%;
    height: 75%;
    width: 90%;
    flex-grow: 1 1;
}
.footer {
    height: 10%;
    width: 100%;
    font-size: 13px;
    justify-content: center;
    color: brown;
    display: flex;
}

@media only screen and (max-width: 970px){
    .nav{
        display: flex;
    }
    .head{
        width: 60%;
    }
}
.head span.hidden{
    display: inline-block;
    transform: translateY(30%);
    font-size: 25px;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: 0.5s ease-in;
    color: lightsteelblue;
}
.nav{
    text-align: end;
    position: initial;
    width: 73%;
}
a{
    color: lightsteelblue;
    text-decoration: none;
    padding: 0 5px;
}
.head:hover .hidden{
    opacity: 1;
    max-width: 1em;
}

.nav a:hover{
    color: brown;
}
.title{
    text-align: center;
    font-size: 26px;
    height: 10%;
}
.card1, .card2{
    margin: 2%;
    position: relative;
    display: inline-flex;
    background-color: lightsteelblue;
    color: rgb(26, 46, 54);
    text-align: center;
    border-radius: 5px;
    box-shadow: black 4px 6px 20px;
    max-width: 95%; 
    min-width: 40%;
}
.cardtitle{
    font-family: fonttucny;
    font-size: 26px;
}
.cardtitle li{
    font-family: font;
    font-size: 16px;
}